{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 130,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": false
}
