---
import { cn } from "$/util";
export interface Props extends astroHTML.JSX.HTMLAttributes {}
---

<span
	class={cn(
		"absolute right-0 top-[calc(2.75rem+1px)] z-10 inline-block",
		"bg-neutral-900 px-2 py-1 text-xs uppercase text-neutral-content",
		Astro.props.class
	)}
>
	<slot />
</span>
