---
import me from "$assets/images/me3x.webp";
import type { Item } from "$components/hex-menu.astro";
import HexMenu from "$components/hex-menu.astro";
import HomeLayout from "$layouts/home.astro";
import { Image } from "astro:assets";

const items: (Item | null)[] = [
	{ link: "/about", label: "About Me" },
	{ link: "/experience", label: "Experience" },
	{ link: "/skills", label: "Skills" },
	{ link: "/projects", label: "Projects" },
	null,
	{ link: "/blog", label: "Blog" }
];
---

<HomeLayout>
	<main class="fixed inset-0 grid grid-cols-12 grid-rows-6">
		<span class="fixed inset-0 -left-28 bg-none transition-all duration-500 2xs:-left-16 sm:-left-4 md:-left-0 lg:left-0">
			<Image src={me} id="me" alt="" width={1104} height={828} class="h-full w-full object-cover object-left md:object-center" />
		</span>
		<div class="col-span-6 col-start-6 row-span-3 row-start-2 2xl:col-start-5">
			<div class="fixed bottom-12 left-0 right-0 z-10 mt-0 text-center font-montserrat lg:relative lg:bottom-0 lg:text-right">
				<h1
					transition:name="name"
					class="font-montserrat text-3xl font-semibold tracking-widest drop-shadow sm:text-5xl lg:text-5xl"
				>
					Matt DeKok
				</h1>
				<h2
					transition:name="profession"
					class="font-montserrat text-xl font-medium tracking-normal drop-shadow sm:text-3xl xl:text-4xl"
				>
					Full&nbsp;Stack Web&nbsp;Developer
				</h2>
			</div>
			<div class="menu-container mt-8 hidden flex-row justify-end md:flex">
				<HexMenu
					{items}
					pathname={Astro.url.pathname}
					maxLength={3}
					classes={["lg:[--scale:1.2]"]}
					itemClasses={["Bounce"]}
					rotated={true}
				/>
			</div>
		</div>
	</main>
</HomeLayout>
