---
import PageArticle from "$/components/page/article.astro";
import PageBody from "$/components/page/body.astro";
import PageSection from "$/components/page/section.astro";
import RatingItem from "$/components/rating/item.astro";
import RatingSection from "$/components/rating/section.astro";
import PortfolioLayout from "$/layouts/portfolio.astro";
import { sorter } from "$/util";

const skills = [
	{
		name: "Web Development",
		skills: [
			{ name: "Angular", rating: 2 },
			{ name: "Astro", rating: 3 },
			{ name: "Bootstrap", rating: 4 },
			{ name: "DaisyUI", rating: 4 },
			{ name: "CSS3", rating: 5 },
			{ name: "Express", rating: 3 },
			{ name: "Firebase Firestore", rating: 2.5 },
			{ name: "Firebase Storage", rating: 2.5 },
			{ name: "Github Actions", rating: 1.5 },
			{ name: "HTML5", rating: 5 },
			{ name: "JavaScript", rating: 5 },
			{ name: "Next.js", rating: 4 },
			{ name: "Node.js", rating: 4 },
			{ name: "PHP", rating: 4 },
			{ name: "React", rating: 4.5 },
			{ name: "SCSS", rating: 3.5 },
			{ name: "Supabase", rating: 2 },
			{ name: "SvelteKit", rating: 4.5 },
			{ name: "TailwindCSS", rating: 4.5 },
			{ name: "TypeScript", rating: 3.5 },
			{ name: "Vue / Nuxt", rating: 2.5 },
			{ name: "jQuery", rating: 4 }
		].sort((a, b) => sorter(a.name, b.name))
	},
	{
		name: "Software",
		skills: [
			{ name: "Adobe Photoshop", rating: 3 },
			{ name: "Affinity Photo", rating: 3 },
			{ name: "Excel", rating: 4.5 },
			{ name: "PowerPoint", rating: 2 },
			{ name: "VBA", rating: 2 },
			{ name: "VS Code", rating: 5 },
			{ name: "Cursor", rating: 4.5 },
			{ name: "Word", rating: 3 }
		].sort((a, b) => sorter(a.name, b.name))
	}
];

const cols = {
	sm: 12,
	md: 6,
	xl: 4
};
---

<PortfolioLayout title="Skills">
	<PageBody>
		<PageArticle class="w-full max-w-4xl">
			<PageSection>
				<p>
					The following are personal measurements based on years of experience and the amount of dedication to the subject over
					those years. They reflect my confidence in my abilities with the subject.
				</p>
			</PageSection>
			{
				skills.map((section, i) => (
					<RatingSection name={section.name} columns={cols}>
						{section.skills.map((skill, j) => (
							<RatingItem name={skill.name} rating={skill.rating} />
						))}
					</RatingSection>
				))
			}
		</PageArticle>
	</PageBody>
</PortfolioLayout>
