---
import AnimatedButton from "../animated-button.astro";

const { href } = Astro.props;
const parts = href.split("::");
const url = parts[1];
const isButton = parts[0] === "btn";
---

{
	isButton ? (
		<AnimatedButton link={url} itemClasses={["button3 border-[1px] border-dotted border-secondary text-secondary"]}>
			<slot />
		</AnimatedButton>
	) : (
		<a href={Astro.props.href} class="text-primary">
			<slot />
		</a>
	)
}
