---
import AnimatedButton from "../animated-button.astro";

const { href } = Astro.props;
const parts = (href as string).split("::");
const url = parts.pop();
const type = parts.shift();

const youTubeId = url?.startsWith("https://www.youtube.com") ? url.match(/v=([^&]+)/)?.[1] : null;
---

{
	type === "btn" ? (
		<AnimatedButton link={url} itemClasses={["button3 border-[1px] border-dotted border-secondary text-secondary"]}>
			<slot />
		</AnimatedButton>
	) : type === "embed" && youTubeId ? (
		<iframe
			src={`https://www.youtube.com/embed/${youTubeId}`}
			class="mx-auto aspect-video w-full max-w-xl border-0"
			allowfullscreen
		>
			<slot />
		</iframe>
	) : (
		<a href={url} class="text-primary">
			<slot />
		</a>
	)
}
