<script>
	import { copy } from "$/assets/js/svgs";

	function copyCombinedBlock(el: Element) {
		const combinedText: string[] = [];
		el.parentElement?.querySelectorAll("pre").forEach((pre) => {
			combinedText.push(pre.innerText);
		});
		navigator.clipboard.writeText(combinedText.join("\n\n"));
		document.querySelectorAll(".copy").forEach((btn) => (btn.innerHTML = copy));
		el.innerHTML = "Copied";
	}

	document.addEventListener("astro:page-load", () => {
		document.querySelectorAll(".combined-block > .copy").forEach((btn) => {
			btn.addEventListener("click", () => copyCombinedBlock(btn));
		});
	});
</script>

<div
	class="combined-block max-w-portfolio group relative mb-4 flex flex-col gap-4 overflow-x-auto rounded-lg bg-base-300 text-sm text-base-content md:p-4"
>
	<slot />
	<button
		role="button"
		class="copy absolute right-2 top-2 flex items-center justify-center rounded-md bg-primary p-2 font-sans text-xs font-bold"
	>
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="h-4 w-4"
			><path
				fill="currentColor"
				d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12V1Z"
			></path></svg
		>
	</button>
</div>
