---
import { Image } from "astro:assets";
import { cn } from "../../util";
const alt = Astro.props.alt || "";
---

<figure class="mb-6 mt-6 flex flex-col">
	<a
		href={Astro.props.src}
		target="_blank"
		rel="noreferrer noopener"
		class={cn("relative mx-auto mb-2 flex w-full max-w-[800px] justify-center", !alt.includes("no-aspect") && "aspect-video")}
	>
		<Image
			src={Astro.props.src}
			alt={Astro.props.alt}
			width={800}
			height={400}
			loading="lazy"
			class={cn(!alt.includes("no-aspect") && "object-cover md:object-contain")}
		/>
	</a>
	<figcaption class="block text-center text-sm text-white/70">Click to open full screen</figcaption>
</figure>
