---
import { cn } from "$src/util";
import ResponsiveImage from "../responsive-image.astro";
const alt = Astro.props.alt || "";
---

<figure class="mb-6 mt-6 flex flex-col">
	<a
		href={Astro.props.src}
		target="_blank"
		rel="noreferrer noopener"
		class={cn("relative mx-auto mb-2 flex w-full max-w-[800px] justify-center", !alt.includes("no-aspect") && "aspect-video")}
	>
		<ResponsiveImage
			src={Astro.props.src}
			alt={alt}
			sizes={[300, 600, 900]}
			class={cn(!alt.includes("no-aspect") && "object-cover md:object-contain")}
		/>
	</a>
	<figcaption class="block text-center text-sm text-white/70">Click to open full screen</figcaption>
</figure>
