---
import { cn } from "$/util";
import ResponsiveImage from "../responsive-image.astro";
const alt = Astro.props.alt || "";
const noAspect = false;
---

<figure class="mb-6 mt-6 flex flex-col">
	<a
		href={Astro.props.src.src}
		target="_blank"
		rel="noreferrer noopener"
		class={cn("relative mx-auto mb-2 flex w-full max-w-[800px]")}
	>
		<ResponsiveImage
			src={Astro.props.src}
			alt={alt}
			srcSet={[
				{
					media: "(max-width: 424px)",
					size: 424
				},
				{
					media: "(max-width: 640px)",
					size: 640
				}
			]}
			class={cn(
				"shadow-md shadow-black/15 motion-safe:hover:shadow-lg motion-safe:hover:shadow-black/25 scroll-fade-in",
				!alt.includes("no-aspect") && "object-cover md:object-contain"
			)}
		/>
	</a>
	<figcaption class="block text-center text-sm text-white/70">Click to open full screen</figcaption>
</figure>
