---
import { cn } from "$/util";
---

<script>
	function copyBlock(el: Element) {
		navigator.clipboard.writeText(el.parentNode?.parentNode?.querySelector("pre")?.innerText || "");
		document.querySelectorAll(".copy").forEach((btn) => {
			btn.innerHTML = "Copy";
			btn.classList.add("bg-gray-700");
			btn.classList.remove("bg-green-700");
		});
		el.innerHTML = "Copied";
		el.classList.remove("bg-gray-700");
		el.classList.add("bg-green-700");
	}

	document.addEventListener("astro:page-load", () => {
		document.querySelectorAll("article .code-block:not(.shiki):not(.multi-tabbed)").forEach((block) => {
			const btn = block.querySelector(".copy");
			if (btn) btn.addEventListener("click", () => copyBlock(btn));
		});
	});
</script>

<div class="code-block group-[.multi-tabbed]:m-0 group-[.multi-tabbed]:border-0">
	<nav class="group-[.multi-tabbed]:hidden group-[.tabbed]:py-0">
		<div class="flex space-x-1 group-[.tabbed]:max-md:hidden">
			<div class="h-2 w-2 rounded-full bg-gray-500"></div>
			<div class="h-2 w-2 rounded-full bg-gray-500"></div>
			<div class="h-2 w-2 rounded-full bg-gray-500"></div>
		</div>
		<label class="code-tab group-[.tabbed]:block"></label>
		<div class="flex-1"></div>
		<button class="copy" type="button">Copy</button>
	</nav>
	<span class="lang group-[.multi-tabbed]:top-0">{Astro.props.lang}</span>
	<div class="max-h-[20rem] overflow-y-auto md:max-h-[40rem]">
		<pre class={cn(Astro.props.class, "group")}><slot /></pre>
	</div>
</div>
