---
import { cn } from "$/util";
---

<script>
	function copyBlock(el: Element) {
		navigator.clipboard.writeText(el.parentNode?.parentNode?.querySelector("pre")?.innerText || "");
		document.querySelectorAll(".copy, .combined-copy").forEach((btn) => {
			btn.innerHTML = "Copy";
			btn.classList.add("bg-gray-700");
			btn.classList.remove("bg-green-700");
		});
		el.innerHTML = "Copied";
		el.classList.remove("bg-gray-700");
		el.classList.add("bg-green-700");
	}

	document.addEventListener("astro:page-load", () => {
		document.querySelectorAll("article > section > .pre-block .copy").forEach((btn) => {
			btn.addEventListener("click", () => copyBlock(btn));
		});
	});
</script>

<div
	class="pre-block relative mb-4 mt-2 rounded-md border border-base-100 bg-neutral-900 text-base-content group-[.combined-block]:my-0 group-[.combined-block]:min-w-max group-[.combined-block]:overflow-visible group-[.combined-block]:border-0"
>
	<div
		class="flex items-center justify-between rounded-t border-b border-base-100 bg-neutral-800 p-2 text-sm group-[.combined-block]:hidden group-[.combined-block]:border-b-0"
	>
		<div class="flex space-x-1">
			<div class="h-2 w-2 rounded-full bg-gray-500"></div>
			<div class="h-2 w-2 rounded-full bg-gray-500"></div>
			<div class="h-2 w-2 rounded-full bg-gray-500"></div>
		</div>
		<button class="copy rounded-md bg-gray-700 px-2 py-1 text-sm text-white" type="button">Copy</button>
	</div>
	<div
		class="max-h-[20rem] overflow-y-auto group-[.combined-block]:max-h-none group-[.combined-block]:min-w-fit group-[.combined-block]:overflow-x-hidden md:max-h-[40rem]"
	>
		<pre
			class={cn(
				Astro.props.class,
				"max-w-portfolio m-0 rounded-lg bg-neutral-900 text-sm text-base-content md:p-4",
				"group-[.combined-block]:bg-transparent group-[.combined-block]:my-0 group-[.combined-block]:p-0 group-[.combined-block]:overflow-hidden group-[.combined-block]:min-w-max",
				"group-[.wrapped-block]:overflow-hidden group-[.wrapped-block]:[&>code]:whitespace-pre-wrap"
			)}><slot /></pre>
	</div>
</div>
