---
import { cn } from "$/util";
---

<script>
	function copyBlock(el: Element) {
		navigator.clipboard.writeText(el.parentNode?.parentNode?.querySelector("pre")?.innerText || "");
		document.querySelectorAll(".copy").forEach((btn) => {
			btn.innerHTML = "Copy";
			btn.classList.add("bg-gray-700");
			btn.classList.remove("bg-green-700");
		});
		el.innerHTML = "Copied";
		el.classList.remove("bg-gray-700");
		el.classList.add("bg-green-700");
	}

	document.addEventListener("astro:page-load", () => {
		document.querySelectorAll("article .pre-block .copy").forEach((btn) => {
			btn.addEventListener("click", () => copyBlock(btn));
		});

		document.querySelectorAll("code .line").forEach((line) => {
				const content = line.innerHTML;
				if (!content.length) line.classList.add("hidden")
		});
	});
</script>

<div class="pre-block relative mt-2 mb-4 rounded-md border border-base-100 bg-neutral-900 text-base-content">
	<div
		class="flex items-center justify-between rounded-t border-b border-base-100 bg-neutral-800 p-2 text-sm group-[.tabbed-code]:py-0">
		<div class="flex space-x-1">
			<div class="h-2 w-2 rounded-full bg-gray-500"></div>
			<div class="h-2 w-2 rounded-full bg-gray-500"></div>
			<div class="h-2 w-2 rounded-full bg-gray-500"></div>
		</div>
		<div class="code-tab ml-3 hidden border-t-2 border-primary bg-neutral-900 p-3 text-xs md:text-sm group-[.tabbed-code]:block"></div>
		<div class="flex-1"></div>
		<button class="copy rounded-md bg-gray-700 px-2 py-1 text-sm text-white" type="button">Copy</button>
	</div>
	<div class="max-h-[20rem] overflow-y-auto md:max-h-[40rem]">
		<pre
		class={cn(
			Astro.props.class,
			"group [tab-size:2] max-w-portfolio m-0 rounded-lg bg-neutral-900 text-sm text-base-content md:p-4"
			)}><slot /></pre>
	</div>
</div>