---
import theme from "$/theme.json";
import { cn } from "$/util";
import { Code } from "astro:components";
import { type BundledLanguage } from "shiki";
import CodeBlock from "./block/block.astro";
import CodeNav from "./block/nav.astro";

interface Props {
	code: string;
	lang?: BundledLanguage;
	class?: string;
	wrap?: boolean;
}

const { code, lang, wrap } = Astro.props;
---

<CodeBlock class="shiki">
	<CodeNav />
	<span
		class={cn(
			"absolute right-0 top-[calc(2.75rem+1px)] z-10 inline-block",
			"bg-neutral-900 px-2 py-1 text-xs uppercase text-neutral-content"
		)}
	>
		{Astro.props.lang}
	</span>
	<div class="max-h-[20rem] overflow-y-auto md:max-h-[40rem]">
		<Code
			{code}
			{lang}
			{wrap}
			theme={{
				name: theme.name,
				settings: theme.tokenColors
			}}
			class={cn(Astro.props.class, "group my-1")}
		/>
	</div>
</CodeBlock>
