---
import me from "$assets/images/me3x.webp";
import { cn } from "$src/util";
import { Image } from "astro:assets";

interface Props {
	home?: boolean;
}

const { home } = Astro.props;

const items = [
	{ link: "/about", label: "About Me" },
	{ link: "/experience", label: "Experience" },
	{ link: "/skills", label: "Skills" },
	{ link: "/projects", label: "Projects" },
	{ link: "/blog", label: "Blog" }
];
---

<div class={cn("drawer", !home && "lg:drawer-open")}>
	<input id="my-drawer" type="checkbox" class="drawer-toggle" aria-label="Toggle Drawer" />
	<div class="drawer-content flex flex-col items-start justify-start">
		<slot />
	</div>
	<div class="drawer-side z-20">
		<label for="my-drawer" class="drawer-overlay"></label>
		<div class="menu min-h-full w-80 bg-base-100 p-0 text-base-content">
			<nav class="px-4 py-8">
				<a href="/" class="flex pb-4">
					<div class="relative w-20 bg-base-100">
						<Image src={me} id="me" alt="" width={276} height={207} class="w-full" />
						<div class="absolute bottom-0 h-1/2 w-full bg-gradient-to-t from-base-100 to-transparent"></div>
					</div>
					<div class="flex flex-col">
						<h1
							transition:name={!home ? "name" : undefined}
							class="drop-shadow-theme-text-thick font-montserrat text-2xl font-semibold tracking-widest"
						>
							Matt DeKok
						</h1>
						<h2
							transition:name={!home ? "profession" : undefined}
							class="drop-shadow-theme-text-thick text- font-montserrat font-medium tracking-normal"
						>
							Full&nbsp;Stack Web&nbsp;Developer
						</h2>
					</div>
				</a>
				<ul>
					{
						items.map((item) => (
							<li>
								<a href={item.link} class={cn("text-lg", Astro.url.pathname.startsWith(item.link) && "active")}>
									{item.label}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</div>
	</div>
</div>
