---
import { cn } from "$/util";

interface Props {
	name?: string;
	class?: string;
	headingClass?: string;
	bgImage?: string;
}

const className = Astro.props.class || "";
const { name, bgImage, headingClass } = Astro.props;
---

<section
	class={cn(
		"section-divider p-5 text-base-content",
		"last:border-b-0",
		className,
		bgImage ?? `bg-[image:url(${bgImage}))]`,
		`bg-cover bg-center`
	)}
>
	{name && <h2 class={cn("section-heading", headingClass)}>{name}</h2>}
	<slot />
</section>

<style>
	.section-heading {
		@apply relative mb-3 border-b border-dotted border-base-content/50 pb-1 text-2xl leading-7 text-theme-heading;
	}
	.section-divider {
		@apply border-b-[1px] border-solid border-b-black/25;
	}
</style>
