<script is:inline>
	function startTransition() {
		document.startViewTransition(() => {
			const box1 = document.getElementById("box1");
			const box2 = document.getElementById("box2");
			if (box1.classList.contains("hidden")) {
				box1.classList.remove("hidden");
				box2.classList.add("hidden");
			} else {
				box2.classList.remove("hidden");
				box1.classList.add("hidden");
			}
		});
	}
	function startTransition2() {
		document.startViewTransition(() => {
			const box3 = document.getElementById("box3");
			if (box3.classList.contains("bg-red-500")) {
				box3.classList.remove("bg-red-500");
				box3.classList.remove("left-0");
				box3.classList.add("bg-blue-500");
				box3.classList.add("right-0");
			} else {
				box3.classList.add("bg-red-500");
				box3.classList.add("left-0");
				box3.classList.remove("bg-blue-500");
				box3.classList.remove("right-0");
			}
		});
	}
</script>

<div class="flex flex-col gap-4">
	<div class="flex gap-4">
		<button class="btn btn-primary capitalize" onclick="startTransition()">Run Transition 1</button>
		<button class="btn btn-primary capitalize" onclick="startTransition2()">Run Transition 2</button>
	</div>
	<!-- Example 1: Transition between elements -->
	<div class="relative h-40">
		<div id="box1" class="box absolute left-0 h-40 w-40 bg-red-500"></div>
		<div id="box2" class="box absolute right-0 hidden h-40 w-40 bg-blue-500"></div>
	</div>
	<!-- Example 2: Transition between states -->
	<div class="relative h-40">
		<div id="box3" class="box2 absolute left-0 h-40 w-40 bg-red-500"></div>
	</div>
</div>

<style>
	.box {
		view-transition-name: box;
	}
	.box2 {
		view-transition-name: box2;
	}
</style>
