---
import Drawer from "$components/drawer.astro";
import type { Props as HeadProps } from "$components/head.astro";
import Head from "$components/head.astro";

interface Props extends HeadProps {}

const { title, description, image, articleMeta } = Astro.props;
---

<html lang="en">
	<head>
		<Head {title} {description} {image} {articleMeta} />
	</head>
	<body data-theme="black" class="bg-img min-h-screen bg-cover bg-left-bottom bg-no-repeat">
		<Drawer home>
			<label for="my-drawer-2" class="btn btn-ghost drawer-button fixed left-4 top-4 z-10 md:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
					><path fill="currentColor" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"></path></svg
				>
			</label>
			<slot />
		</Drawer>
	</body>
</html>
